doctype html
html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='p:domain_verify' content='d3c15cb48250e8ac0a646455842a696e')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='https://unpkg.com/flexmasonry/dist/flexmasonry.css')
    script#mcjs.
      !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/7a542ed38d44a73ac7ddff97b/13fcf890685476c37ef4b5ad8.js");
    link(rel='stylesheet' href='assets/css/new.css')
    title Agro Studio ⚡ Chase Wilson - Advertising and Portrait Photography
  body
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      a.navbar-brand(href='/' title='Chase Wilson Photography at Agro Studio')
        img(src='/assets/img/logo-transparent_100.png' height='20px' width='20px')
        | &nbsp;&nbsp;Agro Studio
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="/shop") Shop
          li.nav-item.active
            a.nav-link(href='/contact.html') Contact
    block content


    #top-of-site-pixel-anchor
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script(src='https://unpkg.com/flexmasonry/dist/flexmasonry.js')
    script.
      if ( "IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in window.IntersectionObserverEntry.prototype) {
      let observer = new IntersectionObserver(entries => {
      if (entries[0].boundingClientRect.y < 0) {
      document.body.classList.remove("header-at-top");
      } else {
      document.body.classList.add("header-at-top");
      }
      });
      observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
      }
      FlexMasonry.init('.grid',{
      responsive: true,
      numCols: 4
      });
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-30050759-1', 'auto');
      ga('send', 'pageview')